$font-family-sans-serif: Muli, sans-serif;
$primary: #A74C3C;

@import "~bootswatch/dist/darkly/variables";

$link-color: $danger;

$text-muted: $gray-500;
$table-bg: $gray-800;

$input-bg: $gray-800;
$input-focus-bg: $gray-800;
$input-color: $gray-400;
$input-focus-color: $input-color;

.list-group-item-action {
   color: $gray-400 !important;
}

$nav-link-padding-x: 1rem;
$nav-link-disabled-color: $gray-600;

$nav-tabs-link-active-border-color: lighten($gray-700, 7.5%) lighten($gray-700, 7.5%) transparent;
$nav-tabs-link-active-bg: $gray-800;

$progress-bar-bg: #007bff;

$border-radius: 4px;
